*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #E0C7F1;
	font-family: Helvetica, sans-serif;
}

h1,h2{
	font-family: 'Architects Daughter', cursive;
	text-align: center;

}
h1{
	font-size: 4em;
}
h2{
	font-size: 2em;
}

p{
	width: 100%;
	height: 130px;
	text-align: justify;
	padding: 15px 5px 5px 5px;
	font-size: 1.1em;
	margin-left: auto;
	margin-right: auto;
}

div{
	margin-top: 40px;

}

div div h2{
	text-align: right;
	padding-right: 5px;
}

.row{
	width: 100%;
}

/*.menu1{
	width: 30%;
	margin: 20px 0px 0px 5px;
	background-color: green;
	overflow: auto;
	position: relative;
}

.menu2{
	width: 30%;
	margin: 20px 0px 0px 5px;
	background-color: green;
	overflow: auto;
	position: relative;
}

.menu3{
	width: 30%;
	margin: 20px 0px 0px 5px;
	background-color: green;
	position: relative;
}
*/

/***** Large device > 992 px  *****/
@media (min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3 {
		float: left;
		margin-left: 14px;
		padding: 10px;
		overflow: auto;
		border: 1px solid black;
	}

	.col-lg-1 {
		width: 32%;
	}

	.col-lg-2 {
		width: 32%;
	}
	.col-lg-3 {
		width: 32%;
	}



}
/***** Medium device  768 => 991 px  *****/

@media (min-width: 768px) and (max-width: 991px){

	.col-lg-1, .col-lg-2, .col-lg-3 {
		float: left;
		margin-left: 14px;
		padding: 10px;
		overflow: auto;
		border: 1px solid black;
	}

	.col-lg-1 {
		width: 25%;
	}

	.col-lg-2 {
		width: 25%;
	}
	.col-lg-3 {
		width: 10%;

	}


}

/***** Small device < 768 px  *****/
@media (max-width: 767px){

	.col-lg-1, .col-lg-2, .col-lg-3 {
		margin-left: 80px; 
		padding: 10px;
		overflow: auto;
		border: 1px solid black;
	}

	.col-lg-1 {
		width: 70%;
	}

	.col-lg-2 {
		width: 70%;
	}
	.col-lg-3 {
		width: 70%;
	}



}